<!doctype html>
  <html lang="en">
    <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-4EKJV6LVSF"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4EKJV6LVSF');
        gtag('config', 'AW-16623303741');
      </script>
      <meta charset="UTF-8">
      <!-- <link rel="canonical" href="https://keeplife.cfbvoznytskyy.org/" /> -->
      <link rel="canonical" href="https://keeplife.com.ua/" />
      <link rel="icon" href="/favicon.png" type="image/x-icon" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <meta property="og:type" content="website">
      <meta property="og:site_name" content="Keep Life">
      <meta property="og:title" content="KEEP LIFE – Мобільний стабілізаційний пункт">
      <meta property="og:description" content="KEEP LIFE – це мобільний стабілізаційний пункт основною метою якого є збереження життя за рахунок економії часу шляхом надання екстреної медичної допомоги на місці ушкодження.">
      <meta property="og:url" content="https://keeplife.cfbvoznytskyy.org">
      <meta property="og:locale" content="uk_UA">
      <meta property="og:image" content="https://keeplife.cfbvoznytskyy.org/logo.png">
      <meta property="og:image:width" content="968">
      <meta property="og:image:height" content="504"> -->
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="Keep Life">
      <meta property="og:title" content="KEEP LIFE – Автономні мобільні модулі">
      <meta property="og:description" content="KEEP LIFE – це автономні медичні пункти на колесах, які рятують життя військовим та цивільним впритул до лінії фронту">
      <meta property="og:url" content="https://keeplife.com.ua">
      <meta property="og:locale" content="uk_UA">
      <meta property="og:image" content="https://keeplife.com.ua/logo.png">
      <meta property="og:image:width" content="968">
      <meta property="og:image:height" content="504">
      <title>Keep Life</title>
      <meta name=description content="KEEP LIFE – Автономні мобільні модулі">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <script async src="https://polyfill.io/v3/polyfill.min.js?features=Intl%2CIntl.PluralRules.%7Elocale.en%2CIntl.RelativeTimeFormat.%7Elocale.en%2CArray.prototype.includes%2CArray.prototype.flatMap"></script>
    </head>
    <body>
      <noscript>Your browser does not support JavaScript!</noscript>
      <div id="<%= context.config.mountElementId %>">
      </div>
    </body>
  </html>
